<h1> Hello from the User</h1>


<%# <form action="/user" accept-charset="utf-8" method="post"> %>
  <%# <label for="name">Name:</label> %>
  <%# <input type="string" id="name" name="user[name]"><br><br> %>
  <%# <label for="email">Email:</label> %>
  <%# <input type="string" id="email" name="user[email]"><br><br> %>
    <%# <label for="password">Password:</label> %>
  <%# <input type="password" id="password" name="user[password]"><br><br> %>
 <%# <input type="hidden" name="authenticity_token" value="<%# form_authenticity_token %><%#">
  <%# <input type="submit" value="Trimite"> %>
<%# </form> %>

<%=  form_with(url: "/user", method: "post") do %>
 <%= label_tag(:name, "Name") %>
  <%= text_field_tag(:name) %>
   <%= label_tag(:email, "email") %>
  <%= text_field_tag(:email) %>
     <%= label_tag(:password, "password") %>
  <%= password_field_tag(:password) %>
  <%= submit_tag("Trimite") %>
<% end %>